@import '~bootstrap/scss/bootstrap';

body {
  font-family: 'DM Sans', sans-serif;
}

div {
  text-align: center;
}

.container {
  text-align: center;
}

.btn {
  margin: .5em;
}

.border {
  padding: .5em;
}

.display {
  width: 100%;
}

.card {
  width: 35%;
  padding: .5em;
  background-color: rgba(123, 123, 123, .5);
}

.signed-out-options {
  text-align: center;
}

.input {
  padding: .5em;
}

.thumbnail {
  width: 20em;
}

.crossfade > figure {
  animation: imageAnimation 30s linear infinite 0s;
  backface-visibility: hidden;
  background-size: cover;
  background-position: center center;
  color: transparent;
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 0;
}

.crossfade > figure:nth-child(1) {
background-color: black;
  background-image: url('https://i.imgur.com/luTfqIo.jpg'); }

.crossfade > figure:nth-child(2) {
  animation-delay: 6s;
  background-image: url('https://i.imgur.com/mUKU2A6.jpg');
}

.crossfade > figure:nth-child(3) {
  animation-delay: 12s;
  background-image: url('https://i.imgur.com/BG3MDfx.jpg');
}

.crossfade > figure:nth-child(4) {
  animation-delay: 18s;
  background-image: url('https://i.imgur.com/9t7Hx3e.jpg');
}

.crossfade > figure:nth-child(5) {
  animation-delay: 24s;
  background-image: url('https://i.imgur.com/rPN94xo.jpg');
}

@keyframes
imageAnimation {  0% {
 animation-timing-function: ease-in;
 opacity: 0;
}
 8% {
 animation-timing-function: ease-out;
 opacity: 1;
}
 17% {
 opacity: 1
}
 25% {
 opacity: 0
}
 100% {
 opacity: 0
}
}
