@import '~bootstrap/scss/bootstrap';

div {
  text-align: center;
}

.container {
  text-align: center;
}

.btn {
  margin: .5em;
}

.border {
  padding: .5em;
}

.display {
  width: 100%;
}

.card {
  width: 35%;
  padding: .5em;
}

.signed-out-options {
  text-align: center;
}

.input {
  padding: .5em;
}
