$theme-colors: (
  'dark': #191b1c,
  'secondary': #b0cc27
  // 'warning': #fadd5c,
  // 'light': #fff,
);

$zindex-popover: 1060 !default;

@import '~bootstrap/scss/bootstrap';

$green: #b0cc27;

img {
  max-height: 400px;
}

body {
  font-family: 'DM Sans', sans-serif;
  background-color: #222629;
}

div {
  text-align: center;
}

h1 {
  color: $green;
  text-shadow:
     2px 2px 4px #222629;
}

$zindex-popover: 1060 !default;

.please-upload-div {
  color: $green;
  text-align: center;
}

.please-upload-div a {
  color: #fff;
}

.update {
  z-index: $zindex-popover;
}

.col-sm-4 {
  // max-height: 30em;
}

// <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
//   <a class="navbar-brand" href="#">photonix</a>

// .navbar-brand a {
//   color: $green;
// }

.navbar-dark .navbar-brand,
.navbar-dark .navbar-text {
    color: $green;
}

.sign-in-div {
  position: fixed;
  bottom: 25%;
  left: 50%;
  transform: translateX(-50%);
}

.container {
  text-align: center;
}

.btn {
  margin: .5em;
  box-shadow: 2px 2px 4px #222629;
}

.btn:hover {
  margin: .5em;
  // box-shadow: 2px 2px 4px #222629;
}

.border {
  padding: .5em;
}

.display {
  width: 100%;
}

.card {
  width: 35%;
  padding: .5em;
  background-color: rgba(123, 123, 123, .5);
}

.signed-out-options {
  text-align: center;
}

.input {
  padding: .5em;
}

.thumbnail {
  // width: 20em;
}

.crossfade > figure {
  animation: imageAnimation 30s linear infinite 0s;
  backface-visibility: hidden;
  background-size: cover;
  background-position: center center;
  color: transparent;
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 0;
}

.crossfade > figure:nth-child(1) {
background-color: black;
  background-image: url('https://i.imgur.com/luTfqIo.jpg'); }

.crossfade > figure:nth-child(2) {
  animation-delay: 6s;
  background-image: url('https://i.imgur.com/mUKU2A6.jpg');
}

.crossfade > figure:nth-child(3) {
  animation-delay: 12s;
  background-image: url('https://i.imgur.com/BG3MDfx.jpg');
}

.crossfade > figure:nth-child(4) {
  animation-delay: 18s;
  background-image: url('https://i.imgur.com/9t7Hx3e.jpg');
}

.crossfade > figure:nth-child(5) {
  animation-delay: 24s;
  background-image: url('https://i.imgur.com/rPN94xo.jpg');
}

.update {
  z-index: $zindex-popover;
}


@keyframes
imageAnimation {  0% {
 animation-timing-function: ease-in;
 opacity: 0;
}
 8% {
 animation-timing-function: ease-out;
 opacity: 1;
}
 17% {
 opacity: 1
}
 25% {
 opacity: 0
}
 100% {
 opacity: 0
}
}
